<% include ../partials/boilerplate %>

<h3><%= coin.id %></h3>
<h3><%= tweets.symbol.title %></h3>
<h3><%= tweets.symbol.symbol %></h3>
<h3 id="<%= coin.symbol %>"></h3>
<h3><%= coin.description %></h3>
<h3><%= tweets.messages[0].body %></h3>


<% include ../partials/end %>