<% include ../partials/boilerplate %>

<h3><%= data.id %></h3>
<h3><%= tweet.symbol.title %></h3>
<h3><%= tweet.symbol.symbol %></h3>
<h3 id="<%= data.symbol.symbol %>"></h3>
<h3><%= data.description %></h3>


<% include ../partials/end %>