<% include ../partials/boilerplate %>

<h1>This is the dashboard</h1>
<div class="currency">
    <h1 class="symbol">BTC</h1>
    <h3>Price: <%= prices.BTC.USD.PRICE %></h3>
    <h3>Volume: <%= prices.BTC.USD.VOLUME24HOUR %></h3>
    <h3>Open: <%= prices.BTC.USD.OPEN24HOUR %></h3>
    <h3>High: <%= prices.BTC.USD.HIGH24HOUR %></h3>
    <h3>Low: <%= prices.BTC.USD.LOW24HOUR %></h3>
    <h3>Change: <%= prices.BTC.USD.CHANGEPCT24HOUR %></h3>
</div>
<div class="currency">
    <h1 class="symbol">ETHEREUM</h1>
    <h3>Price: <%= prices.ETH.USD.PRICE %></h3>
    <h3>Volume: <%= prices.ETH.USD.VOLUME24HOUR %></h3>
    <h3>Open: <%= prices.ETH.USD.OPEN24HOUR %></h3>
    <h3>High: <%= prices.ETH.USD.HIGH24HOUR %></h3>
    <h3>Low: <%= prices.ETH.USD.LOW24HOUR %></h3>
    <h3>Change: <%= prices.ETH.USD.CHANGEPCT24HOUR %></h3>
</div>
<div class="currency">
    <h1 class="symbol">LITECOIN</h1>
    <h3>Price: <%= prices.LTC.USD.PRICE %></h3>
    <h3>Volume: <%= prices.LTC.USD.VOLUME24HOUR %></h3>
    <h3>Open: <%= prices.LTC.USD.OPEN24HOUR %></h3>
    <h3>High: <%= prices.LTC.USD.HIGH24HOUR %></h3>
    <h3>Low: <%= prices.LTC.USD.LOW24HOUR %></h3>
    <h3>Change: <%= prices.LTC.USD.CHANGEPCT24HOUR %></h3>
</div>
<div class="currency">
    <h1 class="symbol">DASH</h1>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
</div>
<div class="currency">
    <h1 class="symbol">RIPPLE</h1>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
</div>
<div class="currency">
    <h1 class="symbol">ZCASH</h1>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
</div>
<div class="currency">
    <h1 class="symbol">NEM</h1>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
</div>
<div class="currency">
    <h1 class="symbol">BITCASH</h1>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
</div>
<div class="currency">
    <h1 class="symbol">DIGIBYTE</h1>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
    <h3></h3>
</div>


<% include ../partials/end %>