<% include ../partials/boilerplate %>

<h1>THis is the dashboard</h1>
<h3><%= prices.BTC.USD.FROMSYMBOL %></h3>
<h3><%= prices.BTC.USD.PRICE %></h3>
<h3><%= prices.BTC.USD.VOLUME24HOUR %></h3>
<h3><%= prices.BTC.USD.HIGH24HOUR %></h3>
<h3><%= prices.BTC.USD.LOW24HOUR %></h3>

<% include ../partials/end %>